<%- include('header') -%>

<div id="container">
  <h1>Choose Your Own Adventure</h1>
  <p>An adventure creation system by Ingo Hinterding, 2018
  <br>
  Currently <%= rooms.rooms %> rooms in <%= stories.stories %> adventures. 
  </p>
  <a href="/stories" >Show all adventures</a><br>
  <a href="/story_create" >Create a new adventure</a>
</div>

<%- include('footer') -%>