body
{
  padding: 10px;
  font-size: 120%;
  margin: 0px;
  padding: 0px;
}

h1
{
  font-size: 120%;
}

h2
{

}

p
{
  line-height: 160%;
}

textarea
{
  font-size: 130%;
  width: 100%;
}

a
{
  text-decoration: none;
  color: #668800;
}

#header
{
  color: white;
  background-color: #4CAFf0;
  width: 100%;
  height: 40px;

}

#header_left
{
  padding: 10px;
  height: 40px;
  float:left;
  background-color: #888888;
}

#header_right
{
  padding: 10px;
  float: left;
}

#header a
{
  color: white;
}

.story_container
{
  padding: 20px;
  margin: 2%;
}

.clear
{
  clear: both;
}

.story_header_container
{
  margin-top: 2px;
  color: white;
  padding: 10px;
  background-color: #4CAFf0;
}

.rating
{
  background-color: #22dd00;
  height: 10px;
  margin-top: 20px;
}

.button_answer
{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 90%;
}

.answer_container
{
  margin-top: 10%;
  width: auto;
  left: 50;
}

.button_answer:hover
{
  background-color: #ddaa22;
}

.input_answer
{
  background-color: #4CAFf0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: block;
  margin: 20px;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 120%;
  width: auto;
  left: 50%;
}
